#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    width: 200px;
    margin-top: 10px;
}

form > label > input {
    margin-top: 10px;
}

button[data-js="addCar"] {
    margin-top: 15px;
    width: 177px;
}

.erro {
    font-weight: bold;
    color: red;
}